.zi-member-revise {
  width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  position: relative;
  top: 240px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination div {
  width: 345px;
  height: 60px;
  background: #00a0f0;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  color: white;
  font-size: 20px;
  letter-spacing: 0.22em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#prescription-stage {
  margin: 0px 50px;
  background-color: #66cbff;
}

#order-list {
  background-color: #66cbff;
}

.bottom-line {
  margin-left: 2px;
  width: 1135px;
  height: 6px;
  background-color: #00a0f0;
}

/* 表單內容 */

.form-content {
  width: 764px;
  display: flex;
  margin: 0px auto;
  margin-top: 88px;
  flex-direction: column;
}

.form-content label {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  color: #5c5c5c;
  letter-spacing: 0.225em;
}

@media (max-width: 375px) {
  .form-content label {
    font-size: 16px;
  }
}

.form-content p {
  display: inline-block;
}

.form-content input {
  font-size: 25px;
  height: 65px;
  padding: 8px;
}

@media (max-width: 375px) {
  .form-content input {
    height: 55px;
    font-size: 18px;
  }
}

.form-content .Birthday-text {
  color: #5c5c5c;
}

.password-text {
  display: flex;
  justify-content: space-between;
}

label p {
  margin-bottom: 0px;
}

/*************下方按鈕部分***************************************/
.button-flex {
  margin: 76px auto;
  display: flex;
  width: 765px;
  /* position: absolute; */
  /* bottom: 150px; */
  /* justify-content: center; */
}

/* @media (max-width: 375px) {
  .button-flex {
    width: 307px;
    position: absolute;
    top: 1030px;
    bottom:0px;
    height: 49px;
    font-size: 18px;
    justify-content: space-between;
  }
} */

.button-flex button {
  margin-top: 46px;
  margin-bottom: 46px;
  width: 296px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.25em;
  color: #ffffff;
  background-color: #00a0f0;
}

.button-flex .backstep {
  margin-right: 253px;
}

@media (max-width: 375px) {
  .button-flex .backstep {
    margin-right: 0px;
  }
}

.form-submit:hover {
  opacity: 0.8;
}

@media (max-width: 375px) {
  .button-flex button {
    width: 100px;
    height: 49px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}
