/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************/

.zi-Prescription {
  position: relative;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .zi-Prescription {
    /* position: relative; */
    top: 55px;
    /* display: inline-flex; */
    justify-content: stretch;
    align-items: stretch;
  }
}
.zi-Prescription .background {
  width: 100%;
  height: 1362px;
  opacity: 0.4;
  object-fit: cover;
}
@media (max-width: 375px) {
  .zi-Prescription .background {
    display: none;
  }
}

.form-list {
  display: flex;
  position: absolute;
  top: 0px;
}

@media (max-width: 375px) {
  .form-list{
    width: 307px;
  }
}

.card-content {
  /* position: absolute; */
  padding-right:150px ;
  width: 600px;
}
@media (max-width: 375px) {
  .card-content {
    padding: 0px;
    position: absolute;
    left: 10%;
    width: 307px;
    box-shadow: none;
    border-radius: 0px;
  }
}

.card-content h1 {
  margin-top: 38px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.075em;
  color: rgb(31 31 31);
}

@media (max-width: 375px) {
  .card-content h1 {
    font-size: 36px;
  }
}

.card-content p {
  margin-bottom: 25px;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: #777777;
}

@media (max-width: 375px) {
  .card-content p {
    font-size: 16px;
  }
}

.card-line {
  border-top: 2px solid #66cbff;
}

/* 註冊表單內容 */

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-content label {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  color: #5c5c5c;
  letter-spacing: 0.225em;
}

@media (max-width: 375px) {
  .form-content label {
    font-size: 16px;
  }
}

.form-content input {
  font-size: 25px;
  height: 65px;
  padding: 8px;
}

@media (max-width: 375px) {
  .form-content input {
    height: 55px;
    font-size: 18px;
  }
}

.form-content .Birthday-text {
  color: #525252;
}

.password-text {
  display: flex;
  justify-content: space-between;
}

.forget-pw {
  margin-top: 32px;
  font-size: 20px;
  color: red;
}

@media (max-width: 375px) {
  .forget-pw {
    font-size: 16px;
  }
}

/* .checkbox-flex{
  display: flex;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 5px;
}

.checkbox-flex p{
 margin-bottom: 0px;
}

.checkbox-flex a{
  color:#414141;
  font-weight: bold;
  direction: none;
 }

#register-Checkbox{
  margin-right: 30px;
  width: 25px;
  height: 25px;
} 

@media (max-width: 375px) {
  #register-Checkbox{
    margin-right: 25px;
  }
}
*/

.radio-flex {
  display: flex;
}

.radio-flex input {
  vertical-align: -15px;
  margin-top: 0px;
  height: 45px;
}

.radio-flex label {
  margin: 0px;
  margin-right: 25px;
  letter-spacing: 0.1rem;
}

/* ************下方按鈕部分 ***************************************/
.button-flex {
  position: absolute;
  bottom: 0px;
  left: 43%;
}

@media (max-width: 375px) {
  .button-flex {
    height: 49px;
    font-size: 18px;
  }
}

.button-flex button {
  margin-top: 46px;
  margin-bottom: 46px;
  width: 296px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.25em;
  color: #ffffff;
  background-color: #00a0f0;
}

.form-submit:hover {
  opacity: 0.8;
}

@media (max-width: 375px) {
  .button-flex button {
    width: 100px;
    height: 49px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 375px) {
  .button-flex button {
    width: 100px;
    height: 49px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}

/* ************右邊部分 ***************************************/

.uploadimg-group {
  margin-top: 83px;
}

@media (max-width: 375px) {
  .uploadimg-group {
    display: none;
  }
}

.uploadimg-group p {
  margin-top: 15px;
  margin-bottom: 24px;
  font-size: 20px;
  color: #777777;
  text-align: center;
  font-size: 20px;
}

.uploadimg-group .uploadpic {
  width: 585px;
  height: 863px;
  background: #dee8ef;
  border: 2px dashed #66cbff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uploadpic a {
  font-size: 25px;
  color: #777777;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 20px;
}


.uploadpic .uploadbtn{
  display: block;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  background-color: #66cbff;
}
